.search{
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    cursor: pointer;
}

.button{
    border-radius: 10px;
    background-color: rgb(117, 197, 218);
}